<a class="nav-link" data-toggle="dropdown" href="#">
    <i class="fas fa-cart-plus"></i>
    <span class="badge badge-info navbar-badge current-cart">0</span>
</a>
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header current-cart-item">Your cart is empty</span>
<div class="dropdown-divider"></div>
<a href="#" class="dropdown-item dropdown-footer cart-shop-now">Shop now</a>
</div>

